* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to right, #262b2a 50%, #36445a 100%);
  background-size: 400% 400%;
  animation: background-animation 30s ease-in-out infinite;
  color: #fff;
}

@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#header {
  width: 100%;
  height: 100vh;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .fa-solid {
  display: none;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #ff004f;
}

h2 span {
  color: #ff004f;
}

/* -----about------*/

#about {
  padding: 80px 0;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.about-col-1:hover {
  transform: rotate(5deg);
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: " ";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #ff004f;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*------progress bar-----*/
progress {
  background-color: #ffffff;
}

/* For WebKit browsers */
progress::-webkit-progress-value {
  background-color: #b54769;
}

/* For Firefox */
progress::-moz-progress-bar {
  background-color: #b54769;
}

/* For Internet Explorer and Microsoft Edge */
progress::-ms-fill {
  background-color: #b54769;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  font-size: 18px;
}

progress {
  width: 100%;
  height: 20px;
  border-radius: 0.3rem;
}

li span {
  display: inline-block;
  width: 80px;
  font-weight: bold;
  margin-right: 10px;
}

/*------Work------*/

#work {
  padding: 30px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work-list div {
  background: #2a2326;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.work-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.work-list div h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.work-list div a {
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
  font-weight: bold;
}

.work-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

.work-list div a:hover {
  font-size: large;
}

/*------contact-left------*/

#contact {
  margin-top: 100px;
}

.contact-info {
  flex-basis: 35%;
}

.contact-info p {
  margin-top: 15px;
  cursor: pointer;
}

.contact-info p:hover {
  color: #b54769;
  font-weight: bold;
  transform: translateY(-5px);
}

.contact-info p i {
  color: #b54769;
  margin-right: 25px;
  font-size: 25px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #fff;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #b54769;
  transform: translateY(-5px);
}

.btn {
  display: inline-block;
  background: #ff004f;
  margin: 15px auto;
  width: fit-content;
  padding: 14px 50px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #fff;
  color: #080808;
}

/*------Footer------*/

.copy {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: 300;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  #header {
    height: 80vh;
  }

  .header-text {
    margin-top: 30%;
    font-size: 22px;
  }
  .header-text h1 {
    font-size: 40px;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-info {
    flex-basis: 100%;
  }
}
